*{
    padding: 0;
    margin: 0;
}

#main{
    display: grid;
    grid-template-rows:15vh 10vh 55vh 20vh;
    grid-template-areas: "item";
}


.container{
    width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
    
.item{
    border: 1px solid #0000;
    display: grid;
    justify-items: center;
    align-items: center;
}

.item1{
    background: brown;
}

.item2{
    background: crimson;
}

.item3{
    background: darkmagenta;
}

.item4{
    background: blueviolet;
    justify-items: start;
}

.item5{
    background: coral;
    justify-items: start;
}

.item6{
    background:white;
    justify-items: start;
}

.item7{
    background: coral;
    justify-items: start;
}

.item8{
    background:gray;
    justify-items: start;
}

.item9{
    background: green;
    justify-items: start;
}

.item10{
    background: yellow;
    justify-items: start;
}
.item11{
    background: rosybrown;
    justify-items: start;
}

.container> div {
    background:greenyellow;
}

.item {
    
}

